.page {
    height: 100vh;
    width: 100%;
    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 64px 24px;
}

.titleBlock {
    position: relative;
}

.title {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: var(--dirty-blue);


    @media (max-width: 768px) {
        font-size: 32px;
    }
}

.titleUnderGlow {
    position: absolute;
    height: 30px;
    width: 100%;
    background-color: var(--dirty-blue);
    top: 70px;
    left: 0;
    filter: blur(48px);
    border-radius: 100%;
    opacity: 0.4;

    @media (max-width: 768px) {
        top: 40px;
        filter: blur(32px);
    }
}


