.page {
  height: 100%;
  min-height: 500px;
  width: 100%;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 64px 24px 100px;

  @media (max-width: 768px) {
    padding: 32px 12px 72px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--main-gray);
  height: 32px;
  z-index: 10;

  @media (max-width: 768px) {
    height: 48px;
  }
}

.titleBlock {
  position: relative;
}

.title {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  color: var(--dirty-blue);

  @media (max-width: 768px) {
    font-size: 32px;
  }
}

.subtitle {
  margin-top: 8px;
  font-size: 18px;
  text-align: center;
  color: var(--transparent-blue);

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.titleUnderGlow {
  position: absolute;
  height: 30px;
  width: 100%;
  background-color: var(--dirty-blue);
  top: 70px;
  left: 0;
  filter: blur(48px);
  border-radius: 100%;
  opacity: 0.4;

  @media (max-width: 768px) {
    top: 40px;
    filter: blur(32px);
  }
}
