.policyPage {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 0 100px 0;

  .goHomeLink {
    text-decoration: none;
    color: var(--dirty-blue);

    &:hover {
      text-decoration: underline;
    }

    &:active {
      text-decoration: none;
    }
  }

  .policyBlock {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .text {
      margin-left: 24px;
      color: var(--dirty-blue);
    }
  }

  .link {
    text-decoration: none;
    color: var(--dirty-blue);

    &:hover {
      text-decoration: underline;
    }

    &:active {
      text-decoration: none;
    }
  }
}
